.transition {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.filter-menu-level-1,
.filter-menu-level-2 {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  background: #fff;
}
.filter-menu-level-1 .navGoBackBtn a:before,
.filter-menu-level-2 .navGoBackBtn a:before {
  margin: 0 0 0 3%;
  font-size: 2em;
  float: left;
}
.filter-menu-level-1 li,
.filter-menu-level-2 li {
  list-style: none;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid rgba(33, 102, 171, 0.1);
}
.filter-menu-level-1 li:active,
.filter-menu-level-2 li:active {
  background: #2166ab;
}
.filter-menu-level-1 li:active a,
.filter-menu-level-2 li:active a {
  color: #f5f4f4;
}
.filter-menu-level-1 li a,
.filter-menu-level-2 li a {
  font-weight: 800;
  color: #2166ab;
  text-decoration: none;
  padding-left: 5%;
}
.filter-menu-level-1 li h2,
.filter-menu-level-2 li h2 {
  text-align: center;
  background: #b6cc01;
  color: #2166ab;
}
.filter-menu-level-1 {
  right: -85%;
  width: 85%;
  z-index: 3;
}
.filter-menu-level-2 {
  right: -70%;
  width: 70%;
  z-index: 4;
}
.filter-open {
  overflow-y: scroll;
  right: 0;
  box-shadow: 5px 0 50px #000;
  z-index: 2;
}
.product-list-breadcrumb {
  float: left;
  width: 96%;
  margin-left: 2%;
  margin-top: 12px;
  border: 1px solid #2166ab;
  border-radius: 3px;
}
.product-list-breadcrumb p {
  width: 100%;
  float: left;
  color: #2166ab;
  padding: 2% 0 2% 2%;
}
.product-list-breadcrumb section {
  background: #2166ab;
  float: left;
  width: 96%;
  padding: 2%;
}
.product-list-breadcrumb section button {
  float: left;
  border-radius: 3px;
  font-size: 1em;
  border: 2px solid #dadad9;
  background: #f5f4f4;
  color: #878786;
  height: 35px;
  width: 30%;
  font-weight: bold;
}
.product-list-breadcrumb section button:before {
  margin-right: 3%;
}
.product-list-breadcrumb section select {
  float: left;
  border-radius: 3px;
  border: 2px solid #dadad9;
  background: #f5f4f4;
  color: #878786;
  display: block;
  padding: 2% 0;
  width: 68%;
  height: 35px;
  margin-left: 2%;
  font-weight: bold;
}
.parts-list {
  margin-top: 2%;
  width: 96%;
  padding: 0 2%;
  float: left;
}
.parts-list section {
  width: 100%;
  min-height: 30px;
  float: left;
  border-bottom: 2px solid #dadad9;
  padding-bottom: 2%;
  margin-bottom: 2%;
}
.parts-list section .left-part-section {
  width: 30%;
  float: left;
}
.parts-list section .left-part-section img {
  width: 100%;
  border: 1px solid #dadad9;
  float: left;
}
.parts-list section .left-part-section span {
  border: 2px solid #dadad9;
  background: #f5f4f4;
  text-align: center;
  border-radius: 3px;
  font-size: 0.8em;
  margin-top: 5%;
  padding: 2% 0;
  width: 100%;
  float: left;
  color: #2166ab;
}
.parts-list section .left-part-section span:before {
  margin-right: 3%;
}
.parts-list section .right-part-section {
  margin-left: 5%;
  width: 55%;
  float: left;
}
.parts-list section .right-part-section a {
  color: #2166ab;
  width: 100%;
  text-decoration: none;
  font-size: 1.1em;
}
.parts-list section .right-part-section h4 {
  color: #be1621;
  width: 100%;
  font-size: 2em;
}
.parts-list section .arrow {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  margin-top: 17%;
  font-size: 2em;
  color: #b6cc01;
  float: left;
  width: 10%;
}
.product-list-pagination {
  background: #2166ab;
  float: left;
  width: 96%;
  padding: 2%;
}
.product-list-pagination .page-counter {
  background: #fff;
  border: 2px solid #dadad9;
  float: left;
  border-radius: 3px;
  color: #878786;
  padding: 0 2%;
  height: 30px;
  line-height: 30px;
}
.product-list-pagination button {
  background: #f5f4f4;
  border: 2px solid #dadad9;
  color: #878786;
  border-radius: 3px;
  margin-left: 2%;
  padding: 0 2%;
  height: 34px;
  float: left;
  line-height: 20px;
}
.parts-detail {
  margin-top: 2%;
  width: 96%;
  padding: 0 2%;
  float: left;
}
.parts-detail section {
  width: 100%;
  min-height: 30px;
  float: left;
  border-bottom: 2px solid #dadad9;
  padding-bottom: 2%;
  margin-bottom: 2%;
}
.parts-detail section .left-part-section {
  width: 30%;
  float: left;
}
.parts-detail section .left-part-section img.part-detailed-supplier {
  width: 90%;
  margin: 5% 5%;
}
.parts-detail section .left-part-section .part-detailed-img {
  width: 100%;
  border: 1px solid #dadad9;
  float: left;
}
.parts-detail section .left-part-section span {
  border: 2px solid #dadad9;
  background: #f5f4f4;
  text-align: center;
  border-radius: 3px;
  font-size: 0.8em;
  margin-top: 5%;
  padding: 2% 0;
  width: 100%;
  float: left;
  color: #2166ab;
}
.parts-detail section .right-part-section {
  margin-left: 5%;
  width: 60%;
  float: left;
}
.parts-detail section .right-part-section h3 {
  color: #2166ab;
  width: 100%;
  text-decoration: none;
  font-size: 1.1em;
}
.parts-detail section .right-part-section h4 {
  color: #be1621;
  width: 100%;
  font-size: 2em;
}
.parts-detail section .right-part-section button {
  float: left;
  width: 100%;
  background: #b6cc01;
  font-weight: bold;
  border: none;
  font-size: 1em;
  border-radius: 3px;
  padding: 5% 0;
  margin-top: 5%;
}
.parts-detail section .right-part-section button a {
  color: #2166ab;
  text-decoration: none;
}
.parts-detail section .right-part-section button a:before {
  margin-right: 5%;
}
.parts-detail section .right-part-section button:active {
  background: #2166ab;
}
.parts-detail section .right-part-section button:active a {
  color: #ffffff;
}
.parts-detail h5 {
  color: #2166ab;
  margin: 2% 0;
}
.parts-detail ul {
  color: #575756;
  float: left;
  width: 95%;
  margin-left: 5%;
}
.parts-detail ul li p {
  color: #575756;
}
.parts-detail button {
  border: 2px solid #dadad9;
  background: #f5f4f4;
  text-align: center;
  border-radius: 3px;
  font-size: 0.8em;
  margin-top: 2%;
  padding: 2% 0;
  width: 100%;
  float: left;
}
.parts-detail button a {
  color: #878786;
  text-decoration: none;
}
.transition {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
* {
  margin: 0;
  padding: 0;
  z-index: 0;
}
#wrapper {
  margin-top: 50px;
  float: left;
}
/*
---------------------------------------------------
	TAB CLASSES EXPANDED AND CLOSED
---------------------------------------------------
*/
.expanded-tap {
  display: block;
}
.closed-tab {
  display: none;
}
/*
---------------------------------------------------
	MENU BACKGROUND DARK CLASSES
---------------------------------------------------
*/
.offCanvasBackground,
.SubOffCanvasBackground {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  z-index: 2;
}
.getDarker {
  opacity: 0.7;
}
/*
---------------------------------------------------
	MENU & SUBMENU CLASSES
---------------------------------------------------
*/
header {
  position: fixed;
  display: block;
  background: #2166ab;
  float: left;
  width: 100%;
  height: 50px;
  z-index: 1;
}
header .osc_logo,
header span,
header .toggle_btn_menu {
  color: #f5f4f4;
  text-align: center;
  float: left;
  display: block;
}
header span {
  height: 50px;
  float: left;
  line-height: 50px;
  width: 65%;
}
header span:before {
  margin-right: 3%;
}
header .osc_logo {
  width: 20%;
}
header .osc_logo img {
  width: 107px;
  height: 40px;
  margin-top: 5px;
}
header .toggle_btn_menu {
  width: 15%;
  line-height: 50px;
  font-size: 2.5em;
  display: block;
  text-decoration: none;
}
.menuLevel1,
.menuLevel2 {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  background: #f5f4f4;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.menuLevel1 .navGoBackBtn a:before,
.menuLevel2 .navGoBackBtn a:before {
  margin: 0 0 0 3%;
  font-size: 2em;
  float: left;
}
.menuLevel1 li,
.menuLevel2 li {
  list-style: none;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid rgba(33, 102, 171, 0.1);
}
.menuLevel1 li:active,
.menuLevel2 li:active {
  background: #2166ab;
}
.menuLevel1 li:active a,
.menuLevel2 li:active a {
  color: #f5f4f4;
}
.menuLevel1 li a,
.menuLevel2 li a {
  font-weight: 800;
  color: #2166ab;
  text-decoration: none;
  padding-left: 5%;
}
.menuLevel1 li h2,
.menuLevel2 li h2 {
  text-align: center;
  background: #b6cc01;
  color: #2166ab;
}
.menuLevel1 {
  left: -85%;
  width: 85%;
  z-index: 3;
}
.menuLevel2 {
  left: -70%;
  width: 70%;
  z-index: 4;
}
.menu-open {
  overflow-y: scroll;
  left: 0;
  box-shadow: 5px 0 50px #000;
  z-index: 2;
}
/*
---------------------------------------------------
	SEARCH
---------------------------------------------------
*/
.transition {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
/*
---------------------------------------------------
	SEARCH BAR MENU
---------------------------------------------------
*/
form {
  width: 96%;
  margin-left: 2%;
  height: 50px;
  float: left;
  margin-top: 10px;
}
form input {
  width: 85.5%;
  float: left;
  height: 100%;
  border-radius: 3px;
  border: 1px solid #ccc;
  text-indent: 5%;
  font-size: 1.1em;
}
form button {
  width: 13%;
  margin-left: 1.5%;
  height: 100%;
  padding: 15px 0;
  border: none;
  border-radius: 3px;
  background: #b6cc01;
  font-size: 1.1em;
  float: left;
  color: #f5f4f4;
}
form button a {
  color: #f5f4f4;
  text-decoration: none;
}
/*
---------------------------------------------------
	YMME + VIN SECTION
---------------------------------------------------
*/
.USTabs .ymmeVinBtnSection {
  width: 96%;
  height: 50px;
  float: left;
  margin: 2% 0 0 2%;
}
.USTabs .ymmeVinBtnSection button {
  width: 49%;
  height: 100%;
  float: left;
  border: none;
  border-radius: 3px;
  font-size: 1.2em;
  background: #878786;
  color: #f5f4f4;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.USTabs .ymmeVinBtnSection button:before {
  margin-right: 5%;
}
.USTabs .ymmeVinBtnSection button:last-child {
  margin-left: 2%;
}
.USTabs .ymmeVinBtnSection .current-tab-selected {
  background: #2166ab;
}
.USTabs .tabsSection {
  float: left;
  width: 92%;
  margin: 2% 0 0 2%;
  background: #2166ab;
  padding: 2%;
  border-radius: 3px;
}
.USTabs .tabsSection #YMME-tab {
  width: 100%;
}
.USTabs .tabsSection #YMME-tab select {
  width: 100%;
  float: left;
  margin-bottom: 2%;
  display: block;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #878786;
}
.USTabs .tabsSection #YMME-tab button {
  width: 100%;
  padding: 12.5px 0;
  background: #dadad9;
  border: 2px solid #b6cc01;
  border-radius: 3px;
  color: #878786;
  font-weight: bold;
}
.USTabs .tabsSection #VIN-tab .VIN-tab-wrapper {
  width: 100%;
  height: 50px;
  float: left;
}
.USTabs .tabsSection #VIN-tab .VIN-tab-wrapper input {
  width: 85.5%;
  height: 100%;
  float: left;
  border-radius: 3px;
  border: 1px solid #ccc;
  text-indent: 5%;
  font-size: 1.1em;
}
.USTabs .tabsSection #VIN-tab .VIN-tab-wrapper button {
  width: 13%;
  height: 100%;
  margin-left: 1.5%;
  border: none;
  border-radius: 3px;
  background: #b6cc01;
  color: #f5f4f4;
  font-size: 1.1em;
  float: left;
}
.USTabs .tabsSection .tab-content {
  display: none;
}
/*
---------------------------------------------------
	CATEGORIES SLIDER - SWIPER
---------------------------------------------------
*/
.touchslider {
  width: 100%;
  height: 200px;
  float: left;
  margin-top: 12px;
  position: relative;
}
.touchslider .arrows {
  float: left;
  text-align: center;
  background: #b6cc01;
  opacity: 0.6;
  line-height: 200px;
  color: #f5f4f4;
  width: 10%;
  height: 150px;
  text-decoration: none;
}
.touchslider .arrows:active {
  opacity: 1;
}
.touchslider .arrows span {
  display: block;
  color: #fff;
  font-size: 2em;
  line-height: 150px;
}
.touchslider .touchslider-viewport {
  float: left;
  width: 80%;
  height: 200px;
  display: block;
  position: relative;
  overflow: hidden;
}
.touchslider .touchslider-viewport .touchslider-item {
  width: 100%;
  height: 200px;
  float: left;
  box-sizing: content-box;
}
.touchslider .touchslider-viewport .touchslider-item span {
  float: left;
  pointer-events: none;
}
.touchslider .touchslider-viewport .touchslider-item span a {
  float: left;
  width: 40%;
  margin: 5% 5%;
}
.touchslider .touchslider-viewport .touchslider-item span a img {
  width: 100%;
}
/*
---------------------------------------------------
	PROMOTION
---------------------------------------------------
*/
#promotion {
  width: 96%;
  float: left;
  margin: 12px 0 0 2%;
}
#promotion a {
  width: 100%;
}
#promotion a img {
  width: 100%;
}
/*
---------------------------------------------------
	FOOTER + NESLETTER + SOCIQL + WEBSITE PLAN
---------------------------------------------------
*/
footer {
  margin-top: 12px;
  width: 100%;
  float: left;
}
footer h2 {
  color: #575756;
  float: left;
  text-align: center;
  width: 100%;
}
footer .newsletter-form {
  float: left;
  padding: 12px 0;
  border-top: 1px solid #878786;
  border-bottom: 1px solid grey;
}
footer .newsletter-form button {
  background: #2166ab;
}
footer .social-network {
  width: 96%;
  margin-left: 2%;
  float: left;
  margin: 12px 0;
}
footer .social-network a {
  font-size: 400%;
  display: block;
  float: left;
  width: 23%;
  margin: 0 1%;
  text-align: center;
  text-decoration: none;
}
footer .social-network .icon-googleplus {
  color: #da4835;
}
footer .social-network .icon-twitter {
  color: #359fdc;
}
footer .social-network .icon-feed {
  color: #fd7900;
}
footer .social-network .icon-facebook {
  color: #3b5a99;
}
footer .website-plan {
  margin: 12px 0;
  width: 98%;
  margin: 0 2%;
  list-style: none;
  float: left;
}
footer .website-plan li {
  float: left;
  width: 50%;
}
footer .website-plan li a {
  background: #2166ab;
  width: 96%;
  margin: 2% 0;
  float: left;
  text-align: center;
  text-decoration: none;
  color: #f5f4f4;
  padding: 10px 0;
  border-radius: 3px;
  opacity: 0.8;
}
footer p {
  width: 100%;
  float: left;
  margin: 12px 0;
  text-align: center;
  color: #575756;
  font-size: 0.8em;
  border-top: 1px solid #878786;
  padding-top: 12px;
}
