@blue : rgba(33,102,171,1);

*{
	margin: 0;padding: 0;
}
header{
	display: block;
	background: @blue;
	float: left;
	width: 100%;
	.osc_logo{
		text-align: center;
		width: 30%;
		float: left;
		display: block;
	}
	span{
		text-align: center;
		float: left;
		width: 40%;
		display: block;
	}
	.toggle_Nav_Menu{
		text-align: center;
		width: 30%;
		float: left;
		display: block;
	}
}