<footer>
	<h2>RECEIVE OUR GREAT DEALS !</h2>
	<form class="newsletter-form">
		<input type="text"><button>OK</button>
	</form>
	<section class="social-network">
		<span><a href="#">f</a></span>
		<span><a href="#">f</a></span>
		<span><a href="#">f</a></span>
		<span><a href="#">f</a></span>
	</section>
	<ul class="website-plan">
		<li><a href="#">Partner Brands</a></li>
		<li><a href="#">Featured Vehicle</a></li>
		<li><a href="#">All Auto Parts</a></li>
		<li><a href="#">Repair Tips</a></li>
		<li><a href="#">Our Commitments</a></li>
		<li><a href="#">How to Order</a></li>
		<li><a href="#">FAQ’s</a></li>
		<li><a href="#">Secure Shopping</a></li>
		<li><a href="#">Shipping Policy</a></li>
		<li><a href="#">Limited Warranty</a></li>
		<li><a href="#">Privacy policy</a></li>
		<li><a href="#">Legal Notices</a></li>
		<li><a href="#">Easy Return</a></li>
		<li><a href="#">About Oscaro</a></li>
		<li><a href="#">Career</a></li>
		<li><a href="#">Contact US</a></li>
	</ul>
</footer>