<div class="touchslider">
	<a class="arrows touchslider-prev"><span class="touchslider-prev-in"><</span></a>
	<div class="touchslider-viewport" style="width: 500px; overflow: hidden; position: relative; height: 345px;">
			<div class="touchslider-item">
				<span><a href="#"><img src="img/brakes.png"></a><a href="#"><img src="img/wiper.png"></a></span>
			</div>
			<div class="touchslider-item">
				<span><img src="img/wiper.png"><img src="img/air_fuel.png"></span>
			</div>
			<div class="touchslider-item">
				<span><img src="img/air_fuel.png"><img src="img/electrical_lighting.png"></span>
			</div>
			<div class="touchslider-item">
				<span><img src="img/electrical_lighting.png"><img src="img/brakes.png"></span>
			</div>
	</div>
	<a class="arrows touchslider-next"><span class="touchslider-next-in">></span></a>
</div>

<!-- <div class="touchslider">
    <span class="arrows touchslider-prev" href="#"><</span> 
    <div class="touchslider-container">
	    <div class="touchslider-wrapper">
			<div class="touchslider-item"><img src="img/brakes.png"><img src="img/wiper.png"></div>
			<div class="touchslider-item"><img src="img/wiper.png"><img src="img/air_fuel.png"></div>
			<div class="touchslider-item"><img src="img/air_fuel.png"><img src="img/electrical_lighting.png"></div>
			<div class="touchslider-item"><img src="img/electrical_lighting.png"><img src="img/brakes.png"></div>
	    </div>
    </div>
    <span class="arrows touchslider-next" href="#">></span>
</div> -->