<ul class="filter-menu-level-1">
	<li class="navGoBackBtn"><a href="#" class="icon-left-arrow"> Go back</a></li>
	<li><a href="#">My cart (2)</a></li>
	<li><a href="#">Sign In</a></li>
	<li><a href="#">Contact Us</a></li>
	<li class="getSubLevelFilter"><a href="#">Our Commitments ></a></li>
	<li><a href="#">Repair Tips</a></li>
</ul>
<ul class="filter-menu-level-2">
	<li class="subNavGoBackBtn"><a href="#" class="icon-left-arrow"> Go back</a></li>
	<li><a href="#">Right Fit Guarentee</a></li>
	<li><a href="#">Free 365 Days returns</a></li>
	<li><a href="#">Free Shipping</a></li>
	<li><a href="#">Overnight Delivery</a></li>
	<li><a href="#">OE Quality Parts</a></li>		
	<li><a href="#">A Safe Shopping Experience</a></li>
</ul>
<div class="product-list-breadcrumb">
	<p>Result for : <b>"Brakes"</b></p>
	<section>
		<button id="filter-trigger" class="icon-filter">FILTERS</button>
		<select>
			<option selected>Best Match</option>
			<option>Price lower to higher</option>
			<option>Price higher to lower</option>
		</select>
	</section>
</div>
<div class="parts-list">
	<?php for ($i=0; $i < 8; $i++) { ?>
		<section>
			<div class="left-part-section">
				<img src="img/part1.jpg" alt="">
				<span class="icon-link">Fitment guaranteed!</span>			
			</div>
			<div class="right-part-section">	
				<a href="part-detail.php">BECK/ARNLEY Disc Brake Rotor - 083-2793Z</a href="part-detail.php">
				<h4>$64.00</h4>
				<span><img src="img/truck-freeshipping.png" alt=""></span>
			</div>
			<a href="part-detail.php" class="arrow icon-arrow-right"></a>
		</section>
	<?php } ?>
</div>
<div class="product-list-pagination">
	<div class="page-counter">1/2202</div>
	<button>></button>
	<button>>></button>
</div>