<div class="parts-detail">
	<section>
		<div class="left-part-section">
			<img class="part-detailed-supplier" src="img/20337.jpg" alt="">
			<img class="part-detailed-img" src="img/part1.jpg" alt="">
			<span>Fitment guaranteed!</span>			
		</div>
		<div class="right-part-section">	
			<h3>BECK/ARNLEY Disc Brake Rotor - 083-2793Z</h3>
			<h4>$64.00</h4>
			<span><img src="img/truck-freeshipping.png" alt=""></span>
			<button><a href="#">Add to cart</a></button>
		</div>
	</section>
	<hr>
	<h5>Description :</h5>
	<ul>
		<li>
			<p>
				Zimmerman Brand. Direct OE replacement. Engineered to 
				OE specifications for both materials and dimensions. No 
				machining required. 
				Premium quality & materials. Exacting tolerances. State of 
				the art manufacturing.
			</p>
		</li>
		<li>
			<p>ZIMMERMAN ROTORS</p>
		</li>
	</ul>
	<button><a href="parts-list.php">GET BACK TO PRODUCT LIST PAGE</a></button>
</div>