<div class="product-list-breadcrumb">
	<p>Result for : <b>"Brakes"</b></p>
	<section>
		<button>FILTERS</button>
		<select>
			<option value="" selected>Best Match</option>
			<option value="">Price lower to higher</option>
			<option value="">Price higher to lower</option>
		</select>
	</section>
</div>
<div class="parts-list">
	<?php for ($i=0; $i < 8; $i++) { ?>
		<section>
			<div class="left-part-section">
				<img src="img/part1.jpg" alt="">
				<span>Fitment guaranteed!</span>			
			</div>
			<div class="right-part-section">	
				<a href="part-detail.php">BECK/ARNLEY Disc Brake Rotor - 083-2793Z</a href="part-detail.php">
				<h4>$64.00</h4>
				<span><img src="" alt=""></span>
			</div>
			<a href="part-detail.php" class="arrow">></a>
		</section>
	<?php } ?>
</div>
<div class="product-list-pagination">
	<div class="page-counter">1/2202</div>
	<button>></button>
	<button>>></button>
</div>